.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #f0f9ff, #fdf4ff);
  padding: 16px;
}

.card {
  background: #ffffff;
  width: 100%;
  max-width: 420px;
  padding: 36px;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.title {
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  color: #1f2937;
}

.subtitle {
  text-align: center;
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 24px;
}

.input {
  width: 100%;
  padding: 12px 14px;
  margin-bottom: 16px;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  font-size: 14px;
  background: #f9fafb;
  color: black;
}

.input:focus {
  outline: none;
  border-color: #93c5fd;
  background: #ffffff;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
  font-size: 13px;
}

.remember {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #374151;
}


.forgot {
  color: #6366f1;
  text-decoration: none;
}

.forgot:hover {
  text-decoration: underline;
}

.button {
  width: 100%;
  padding: 12px;
  background: #6366f1;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin: 20px 0px;
}

.button:hover {
  background: #4f46e5;
}


@media (max-width: 480px) {
  .card {
    padding: 24px;
  }

  .title {
    font-size: 22px;
  }
}