* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body, html , #__next {
  max-height: 100vh;
  max-width: 100vw;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}
