.main{
    flex: 1;
}
.loder{
    flex: 1;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.verticalLine{
    border-left: 1px solid #E0E0E0;
    text-align: center;
}