.container {
  /* padding: 16px; */
}

/* Inputs */
.search,
.dropdown {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.row{
  display: flex;
  flex-direction: row;
  gap :20px;
}
/* Add */
.addBtn {
  width: 100%;
  margin-bottom: 12px;
  background: #2563eb;
  color: white;
  padding: 10px;
  border-radius: 6px;
  border: none;
  max-width: 100px;
}

/* Table */
.tableWrapper {
  overflow-x: auto;
}

.table {
  width: 100%;
  min-width: 700px;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 12px;
  border-bottom: 1px solid #eee;
  text-align: left;
}

.table th {
  background: #f9fafb;
}

/* Status badge */
.badge {
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 12px;
  color: white;
}

.green {
  background: #16a34a;
}

.red {
  background: #dc2626;
}

.orange {
  background: #f59e0b;
}

/* Action */
.actionBtn {
  background: #0ea5e9;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.noData {
  text-align: center;
  padding: 20px;
  color: #777;
}

/* Modal Overlay */
.modalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease;
}

/* Modal Card */
.modal {
  background: #ffffff;
  padding: 24px 20px;
  width: 400px;
  max-width: 90%;
  border-radius: 12px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  animation: slideIn 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Modal Title */
.modal h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  color: #111827;
  text-align: center;
}

/* Inputs inside modal */
.modal select,
.modal textarea {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 14px;
  resize: none;
}

/* Modal buttons */
.modalActions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 16px;
}

.modalActions .actionBtn {
  background: #0ea5e9;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.modalActions .actionBtn:hover {
  background: #0284c7;
}

.modalActions .addBtn {
  background: #f3f4f6;
  color: #374151;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.modalActions .addBtn:hover {
  background: #e5e7eb;
}
.link{
  color: #0284c7;
  text-decoration: underline;
}

/* Animations */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideIn {
  from { transform: translateY(-30px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

