/* Layout */
.layout {
  display: flex;
  min-height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 240px;
  background: #b30000;
  color: white;
  padding: 20px;
}

.logo {
  font-size: 22px;
  margin-bottom: 30px;
}

.menuItem {
  display: block;
  padding: 12px;
  margin-bottom: 8px;
  border-radius: 6px;
  text-decoration: none;
  color: white;
}

.menuItem:hover {
  background: rgba(255, 255, 255, 0.15);
}

.active {
  background: white;
  color: #b30000;
  font-weight: 600;
}

/* Content */
.content {
  flex: 1;
  padding: 20px;
  background: #f5f5f5;
  height: 100vh;
  overflow: auto;
  
}

/* Topbar (Mobile) */
.topbar {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  background: #b30000;
  color: white;
  padding: 14px 20px;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.menuBtn {
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

/* Mobile Menu */
.mobileMenu {
  position: fixed;
  top: 0;
  right: -260px;
  width: 260px;
  height: 100%;
  background: #b30000;
  z-index: 2000;
  transition: right 0.3s ease;
}

.mobileMenu.open {
  right: 0;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1500;
}

/* Responsive */
@media (max-width: 768px) {
  .layout {
  flex-direction: column;
}
  .sidebar {
    display: none;
  }

  .topbar {
    display: flex;
  }

  .content {
    margin-top: 60px;
  }

  .mobileSidebar {
    display: block;
  }
}
